<div class="marketplace-main-top-row display-flex justify-space-between align-center pb-2 pl-4 pr-4">
    {{#if allCategoryProducts}}
    <h3>All</h3>
    {{else}}
    <h3>{{category_name}}</h3>
    {{/if}}
    <a href="/marketplace/product/new">
        <button class="sell-button button-1">+ Create a new listing</button>
    </a>
</div>