<nav class="marketplace-nav flex-column justify-flex-start">
    <h6>CATEGORIES</h6>
    <ul>
        <a href="/marketplace">
            <li>All</li>
        </a>
        <a href="/marketplace/TV &amp; Home Theater">
            <li>TV &amp; Home Theater</li>
        </a>
        <a href="/marketplace/Computers &amp; Tablets">
            <li>Computers &amp; Tablets</li>
        </a>
        <a href="/marketplace/Camera, Photo &amp; Video">
            <li>Camera, Photo &amp; Video</li>
        </a>
        <a href="/marketplace/Cell Phones &amp; Accessories">
            <li>Cell Phones &amp; Accessories</li>
        </a>
        <a href="/marketplace/Headphones &amp; Audio">
            <li>Headphones &amp; Audio</li>
        </a>
        <a href="/marketplace/Car Electronics">
            <li>Car Electronics</li>
        </a>
        <a href="/marketplace/Health &amp; Wellness">
            <li>Health &amp; Wellness</li>
        </a>
        <a href="/marketplace/Wearable Technology">
            <li>Wearable Technology</li>
        </a>
    </ul>
</nav>