<nav class="profile-side-nav flex-column justify-flex-start">
    <h6>PROFILE</h6>
    <ul>
        <a href="/profile">
            <li>My Account</li>
        </a>
        <a href="profile/order-history">
            <li>Order History</li>
        </a>
        <a href="/wishlist">
            <li>Wishlist</li>
        </a>
    </ul>
</nav>