<section class="cart-wrapper display-flex flex-column align-center">
    <h3>Your cart</h3>
    <div class="cart-product-container display-flex flex-wrap justify-space-between">
        {{#if cartProducts}}
        {{#each cartProducts as |cartProduct|}}
        {{> cart-card}}
        {{/each}}
        {{else}}
        <p>Your cart is empty.</p>
        {{/if}}
    </div>
</section>

<script src="/js/cart.js"></script>
