<section class="cart-wrapper display-flex flex-column align-center">
    <h3>Your cart</h3>
    <div class="cart-product-container display-flex flex-wrap justify-center">
        {{#if cartProducts}}
        {{#each cartProducts as |cartProduct|}}
        {{> cart-card}}
        {{/each}}
        {{else}}
        <p>Your cart is empty.</p>
        {{/if}}
    </div>
    {{#if cartProducts}}
    <div class="checkout-button-container p-1">
        <button class="checkout-button button-1 button-long">Checkout</button>
    </div>
    {{/if}}
</section>
<script src="/js/cart.js"></script>
<script src="/js/checkout.js"></script>