<section class="contact-us-wrapper wrapper display-flex flex-column align-center">
    <h3 class="mb-3">Contact us</h3>
    <ul class="mb-3">
        <a href="https://github.com/clairehwcho" target="_blank">
            <li><img src="/images/github-logo.png" alt="github">Claire</li>
        </a>
        <a href="https://github.com/e-varg24" target="_blank">
            <li><img src="/images/github-logo.png" alt="github">Edgar</li>
        </a>
        <a href="https://github.com/poptartkay" target="_blank">
            <li><img src="/images/github-logo.png" alt="github">Kay</li>
        </a>
        <a href="https://github.com/Pat-Delaney" target="_blank">
            <li><img src="/images/github-logo.png" alt="github">Patrick</li>
        </a>
    </ul>
    <p>Our customer service department is open
    <p>during normal business hours of</p>
    <p>Monday - Friday 9:00 am to 5:30 pm PT.</p>
</section>