<div>
    <h1>CONTACT</h1>
    <a href=""></a>
    <br>
    <ul>
        <li>CLAIRE -  <a href="https://github.com/clairehwcho">https://github.com/clairehwcho</a> </li> 
        <li>K -  <a href="https://github.com/poptartkay">https://github.com/poptartkay</a> </li> 
        <li>PATRICK - <a href="https://github.com/Pat-Delaney">https://github.com/Pat-Delaney</a> </li> 
        <li>EDGAR -<a href="https://github.com/e-varg24">https://github.com/e-varg24</a> </li> 
    </ul>
    <br>
    <div>Our customer service department is open during normal business hours of&nbsp;Monday - Friday 9:00 am to 5:30 pm
        PT.&nbsp;</div>
</div>