<div class="index-main-row display-flex justify-space-around align-center">
  <h2>Buy and sell your electronic items!</h2>
  <h4><a href="/login">Sign in</a> to get the full marketplace experience.</h4>
</div>

<div class="index-main-row display-flex justify-space-around align-center">
  <a href="/marketplace/TV &amp; Home Theater">
    <div class="index-category-card flex-column justify-center align-center m-2">
      <div class="index-category-image display-flex justify-center align-center mb-3" id="category-image-1">
      </div>
      <p>TV &amp; Home Theaters</p>
    </div>
  </a>

  <a href="/marketplace/Computers &amp; Tablets">
    <div class="index-category-card flex-column justify-center align-center m-2">
      <div class="index-category-image display-flex justify-center align-center mb-3" id="category-image-2">
      </div>
      <p>Computers &amp; Tablets</p>
    </div>
  </a>

  <a href="/marketplace/Camera, Photo &amp; Video">
    <div class="index-category-card flex-column justify-center align-center m-2">
      <div class="index-category-image display-flex justify-center align-center mb-3" id="category-image-3">
      </div>
      <p>Camera, Photo &amp; Video</p>
    </div>
  </a>

  <a href="/marketplace/Cell Phones &amp; Accessories">
    <div class="index-category-card flex-column justify-center align-center m-2">
      <div class="index-category-image display-flex justify-center align-center mb-3" id="category-image-4">
      </div>
      <p>Cell Phones &amp; Accessories</p>
    </div>
  </a>

  <a href="/marketplace/Headphones &amp; Audio">
    <div class="index-category-card flex-column justify-center align-center m-2">
      <div class="index-category-image display-flex justify-center align-center mb-3" id="category-image-5">
      </div>
      <p>Headphones &amp; Audio</p>
    </div>
  </a>

  <a href="/marketplace/Car Electronics">
    <div class="index-category-card flex-column justify-center align-center m-2">
      <div class="index-category-image display-flex justify-center align-center mb-3" id="category-image-6">
      </div>
      <p>Car Electronics</p>
    </div>
  </a>

  <a href="/marketplace/Health &amp; Wellness">
    <div class="index-category-card flex-column justify-center align-center m-2">
      <div class="index-category-image display-flex justify-center align-center mb-3" id="category-image-7">
      </div>
      <p>Health &amp; Wellness</p>
    </div>
  </a>

  <a href="/marketplace/Wearable Technology">
    <div class="index-category-card flex-column justify-center align-center m-2">
      <div class="index-category-image display-flex justify-center align-center mb-3" id="category-image-8">
      </div>
      <p>Wearable Technology</p>
    </div>
  </a>
</div>