<div class="index-main-row display-flex justify-space-between align-center">
  <div class="index-category-card m-4">
    <div class="category-image display-flex justify-center align-center">
      Placeholder for image
    </div>
    <h4 class="display-flex justify-center align-center">Category name</h4>
  </div>

  <div class="index-category-card m-4">
    <div class="category-image display-flex justify-center align-center">
      Placeholder for image
    </div>
    <h4 class="display-flex justify-center align-center">Category name</h4>
  </div>

  <div class="index-category-card m-4">
    <div class="category-image display-flex justify-center align-center">
      Placeholder for image
    </div>
    <h4 class="display-flex justify-center align-center">Category name</h4>
  </div>

  <div class="index-category-card m-4">
    <div class="category-image display-flex justify-center align-center">
      Placeholder for image
    </div>
    <h4 class="display-flex justify-center align-center">Category name</h4>
  </div>
</div>

<div class="index-main-row2 display-flex justify-center align-center">
  More contents go here
</div>