<div class="index-main-row display-flex justify-space-around align-center">
  <div class="index-category-card flex-column justify-center align-center m-2">
    <div class="index-category-image display-flex justify-center align-center mb-3">
      Placeholder for image
    </div>
    <p>TV & Home Theaters</p>
  </div>

  <div class="index-category-card flex-column justify-center align-center m-2">
    <div class="index-category-image display-flex justify-center align-center mb-3">
      Placeholder for image
    </div>
    <p>Computers & Tablets</p>
  </div>

  <div class="index-category-card flex-column justify-center align-center m-2">
    <div class="index-category-image display-flex justify-center align-center mb-3">
      Placeholder for image
    </div>
    <p>Camera, Photo & Video</p>
  </div>

  <div class="index-category-card flex-column justify-center align-center m-2">
    <div class="index-category-image display-flex justify-center align-center mb-3">
      Placeholder for image
    </div>
    <p>Cell Phones & Accessories</p>
  </div>

  <div class="index-category-card flex-column justify-center align-center m-2">
    <div class="index-category-image display-flex justify-center align-center mb-3">
      Placeholder for image
    </div>
    <p>Headphones & Audio</p>
  </div>

  <div class="index-category-card flex-column justify-center align-center m-2">
    <div class="index-category-image display-flex justify-center align-center mb-3">
      Placeholder for image
    </div>
    <p>Car Electronics</p>
  </div>

  <div class="index-category-card flex-column justify-center align-center m-2">
    <div class="index-category-image display-flex justify-center align-center mb-3">
      Placeholder for image
    </div>
    <p>Health & Wellness</p>
  </div>

  <div class="index-category-card flex-column justify-center align-center m-2">
    <div class="index-category-image display-flex justify-center align-center mb-3">
      Placeholder for image
    </div>
    <p>Wearable Technology</p>
  </div>
</div>

<div class="index-main-row flex-column align-center">
  <p>More contents go here</p>
  <p>More contents go here</p>
  <p>More contents go here</p>
  <p>More contents go here</p>
</div>