<section class="marketplace-wrapper display-flex">
    {{> marketplace-side-nav}}
    <div class="marketplace-main">
        {{> marketplace-main-top-row}}
        <div class="marketplace-main-bottom-row display-flex flex-wrap justify-flex-start">
            {{#if allCategoryProducts}}
            {{#each allCategoryProducts as |product|}}
            {{> product-card}}
            {{/each}}
            {{else if oneCategoryProducts}}
            {{#each oneCategoryProducts as |product|}}
            {{> product-card}}
            {{/each}}
            {{else if searchedProducts}}
            {{#each searchedProducts as |product|}}
            {{> product-card}}
            {{/each}}
            {{else}}
            <p>No item found</p>
            {{/if}}
        </div>
    </div>
</section>

<script src="/js/wishlist.js"></script>
<script src="/js/cart.js"></script>