<section class="marketplace-wrapper display-flex">
    {{> marketplace-side-nav}}
    <div class="marketplace-main">
        {{> marketplace-main-top-row}}
        <div class="marketplace-main-bottom-row display-flex flex-wrap justify-space-between">
            {{#each products as |product|}}
            {{> product-card}}
            {{/each}}
        </div>
    </div>
</section>