<section class="marketplace-wrapper display-flex">
    {{> marketplace-nav}}
    <div class="marketplace-main">
        {{> marketplace-main-row}}
        <div class="marketplace-main-row display-flex flex-wrap">
            {{#each products as |product|}}
            {{> product-card}}
            {{/each}}
        </div>
    </div>
</section>