<section class="marketplace-wrapper display-flex">
    <nav class="marketplace-nav">
        <h5>Category</h5>
        <ul>
            <li>TV & Home Theater</li>
            <li>Computers & Tablets</li>
            <li>Camera, Photo & Video</li>
            <li>Cell Phones & Accessories</li>
            <li>Headphones & Audio</li>
            <li>Car Electronics</li>
            <li>Health & Wellness</li>
            <li>Wearable Technology</li>
        </ul>
    </nav>
    <div class="marketplace-card-container">
        {{#each products as |product|}}
        {{> product-card}}
        {{/each}}
    </div>
</section>