<section class="profile-wrapper display-flex">
    <nav class="profile-nav">
        <ul>
            <li>submenu name</li>
            <li>submenu name</li>
            <li>submenu name</li>
        </ul>
    </nav>
    <div class="profile-container">
      profile content goes here
    </div>
</section>