<div class="user-form-container">
    <h3>Create Account</h3>

    <form class="form register-form">
        <div class="form-group">
            <label for="first-name-register">First name:</label>
            <input class="form-control" type="text" id="first-name-register" />
        </div>
        <div class="form-group">
            <label for="last-name-register">Last name:</label>
            <input class="form-control" type="text" id="last-name-register" />
        </div>
        <div class="form-group">
            <label for="username-register">Username:</label>
            <input class="form-control" type="text" id="username-register" />
        </div>
        <div class="form-group">
            <label for="email-register">Email:</label>
            <input class="form-control" type="text" id="email-register" />
        </div>
        <div class="form-group">
            <label for="password-register">Password:</label>
            <input class="form-control" type="password" id="password-register" />
        </div>
        <div class="form-group">
            <label for="confirm-password-register">Confirm Password:</label>
            <input class="form-control" type="password" id="password-register" />
        </div>
        <div class="form-group">
            <label for="address-register">Address</label>
            <input class="form-control" type="text" id="address-register" />
        </div>
        <div class="form-group mb-4">
            <label for="phone-numbers-register">Phone Numbers</label>
            <input class="form-control" type="text" id="phone-numbers-register" />
        </div>
        <div class="form-group display-flex justify-center">
            <button class="button-1 button-long" type="submit">Create</button>
        </div>
</div>
</form>
</div>

<script src="./js/register.js"></script>