<section class="wishlist-wrapper display-flex flex-column align-center">
    <h3>Your wishlist</h3>
    <div class="wishlist-product-container display-flex flex-wrap justify-space-between">
        {{#if wishlistProducts}}
        {{#each wishlistProducts as |wishlistProduct|}}
        {{> wishlist-card}}
        {{/each}}
        {{else}}
        <p>Your wishlist is empty.</p>
        {{/if}}
    </div>
</section>

<script src="/js/wishlist.js"></script>
