<section class="wishlist-wrapper wrapper display-flex flex-column align-center">
    <h3 class="mb-3">Your wishlist</h3>
    <div class="wishlist-product-container">
        {{#if wishlistProducts}}
        {{#each wishlistProducts as |wishlistProduct|}}
        {{> wishlist-card}}
        {{/each}}
        {{else}}
        <p>Your wishlist is empty.</p>
        {{/if}}
    </div>
</section>

<script src="/js/wishlist.js"></script>
<script src="/js/cart.js"></script>