:root {
    --base: #232326;
    --light: #F5F5F7;
    --medium: #6E6E73;
    --dark: #373F51;
    --highlight1: #008DD5;
    --highlight2: #F56476;
    --border-radius: 7px;
    --box-shadow: rgba(0, 0, 0, 0.529) 0px 5px 15px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-1 {
    padding: 0.5rem 1rem;
    color: var(--light);
    background-color: var(--highlight1);
    border: none;
    border-radius: var(--border-radius);
    opacity: 0.8;
}

.button-2 {
    padding: 0.5rem 1rem;
    color: var(--light);
    background-color: var(--highlight2);
    border: none;
    border-radius: var(--border-radius);
    opacity: 0.8;
}

.button-3 {
    padding: 0.5rem 1rem;
    color: var(--light);
    background-color: var(--dark);
    border: none;
    border-radius: var(--border-radius);
    opacity: 1;
}

.button-1:hover,
.button-2:hover {
    opacity: 1;
}

.button-long {
    width: 100%;
}

body {
    background-color: var(--light);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 15vh;
    color: var(--light);
}

.header-top-row {
    width: 100%;
    height: 60%;
    background-color: var(--base);
}

.logo-container {
    width: 30%;
}

.logo-container img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.logo-container h3 {
    letter-spacing: -0.1rem;
}

.search-container {
    width: 40%;
    display: flex;
}

.search-form {
    height: 35px;
}

.search-input {
    width: 90%;
    font-size: 0.8rem;
    background-color: var(--light);
    padding: 10px;
    border: none;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.search-input:focus {
    outline: none;
}

.search-button {
    width: 10%;
    color: white;
    background: var(--highlight1);
    font-size: 0.8rem;
    border: none;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    opacity: 0.8;
}

.search-button:hover {
    opacity: 1;
}

.profile-nav {
    width: 30%;
}

.profile-nav ul {
    width: 100%;

}

.profile-nav li:hover {
    color: var(--highlight1);
}

.header-bottom-row {
    height: 40%;
    background-color: var(--dark);
}

.top-nav {
    width: 100%;
}

.top-nav ul {
    width: 50%;
}

.top-nav li:hover {
    color: var(--highlight1);
}

main {
    width: 100%;
    min-height: 80vh;
}

.index-main-row {
    width: 700px;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.index-main-row:first-of-type {
    color: var(--light);
    background-color: var(--highlight1);
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.index-category-image {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.index-category-card:hover {
    transform: translate(3px, 3px);
    transition: all 0.3s;
}

.index-category-card p {
    font-size: 0.7rem;
    font-weight: bold;
}

#category-image-1 {
    background-image: url("/images/tv.png");
}

#category-image-2 {
    background-image: url("/images/computers.png");
}

#category-image-3 {
    background-image: url("/images/cameras.png");
}

#category-image-4 {
    background-image: url("/images/phones.png");
}

#category-image-5 {
    background-image: url("/images/headphones.png");
}

#category-image-6 {
    background-image: url("/images/cars.png");
}

#category-image-7 {
    background-image: url("/images/health.png");
}

#category-image-8 {
    background-image: url("/images/wearable.png");
}

.user-form-container {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label,
.register-form label,
.create-listing-form label {
    font-size: 0.8rem;
}

.user-form-container p {
    font-size: small;
    margin: 1rem;
}

.user-form-container h6 {
    color: var(--highlight1);
    font-weight: bold;
}

.user-form-container h6:hover {
    text-decoration: underline;
}

.profile-wrapper,
.marketplace-wrapper {
    width: 100%;
}

.profile-side-nav,
.marketplace-side-nav {
    width: 20%;
    background-color: var(--light);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
}

.profile-side-nav h6,
.marketplace-side-nav h6 {
    font-weight: bold;
}

.profile-side-nav ul,
.marketplace-side-nav ul,
.contact-us-wrapper ul {
    list-style-position: inside;
    padding-left: 0;
}

.profile-side-nav li .marketplace-side-nav li {
    font-size: 0.9rem;
    margin: 1rem 0;
}

.profile-side-nav li:hover,
.marketplace-side-nav li:hover {
    color: var(--highlight1);
    font-weight: bold;
}

.profile-main,
.marketplace-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
}

.create-listing-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.marketplace-main-top-row {
    width: 100%;
}

.marketplace-main-bottom-row {
    width: 100%;
}

.product-card {
    width: 250px;
    height: 300px;
}

.product-card:hover {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.card-header {
    width: 100%;
    height: 50%;
}

.card-header img {
    width: 100%;
    height: 100%;
}

.card-body {
    width: 100%;
    height: 40%;
}

.card-body ul {
    list-style-position: inside;
    padding-left: 0;
}

.card-body li {
    font-size: 1rem;
}

#card-body-price {
    font-weight: bold;
}

.card-footer {
    width: 100%;
    height: 10%;
}

.card-footer button {
    min-width: 45%;
    font-size: x-small;
    padding: 1 0.5rem;
}

.remove-from-cart-button {
    width: 100%;
}

.product-details-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.category-image {
    width: 30%;
    height: 100%;
}

.category-image img {
    width: 100%;
}

.product-details {
    width: 70%;
}

#product-details-name {
    font-size: 1.5rem;
}

#product-details-price {
    font-size: 1.5rem;
    font-weight: bold;
}

#product-details-category,
#product-details-username,
#product-details-date {
    font-size: 0.8rem;
}

#product-details-condition {
    font-size: 1rem;
}

.wishlist-wrapper {
    width: 100%;
}

.my-account {
    list-style: circle;
    line-height: 2;
}

.contact-us-wrapper {
    width: 100%;
}


.contact-us-wrapper ul {
    width: fit-content;
    line-height: 2;

}

.contact-us-wrapper li {
    width: fit-content;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.contact-us-wrapper li:hover {
    color: var(--highlight1);
}

.contact-us-wrapper img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.contact-us-wrapper p {
    font-size: 0.9rem;
    margin: 0;
}

.contact-us-wrapper p:last-of-type {
    font-size: 1.1rem;
}

.cart-wrapper {
    width: 100%;
}

.cart-product-container {
    width: 60%;
}

.checkout-button-container {
    width: 50%;
}

.checkout-table {
    width: 800px;
    margin: 2rem;
}

.checkout-table tr {
    height: 3rem;

}

footer {
    width: 100%;
    height: 5vh;
    font-size: 0.7rem;
    color: var(--light);
    background-color: var(--base);
}